.continue-btn{
  -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #4ca90c;
    background-color: #4ca90c;
    color: white;
  width: 100px;
  margin: auto;
}
.hidden{
  height: 0;
}
.backbutton{
  background-color: red;
  border: none;
  margin: 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  color: white;
  width: 100px;
}
.revieworder, .section1, .order-summary{
    border: 1px solid rgba(66,66,66,.2);
    background-color: #fff6de;
    height: 40px;
    grid-row: 1;
    opacity: 0;
    padding: 10px 8px;
    margin: 10px;
  text-align: center;
  vertical-align: center;
}